@import "../../styles/dark-layout.scss";

#about{
    padding-block:100px;
    background:$light-bg;
    .container{
        max-width:1024px;
        @media (max-width:992px){
            .standart{
                text-wrap: wrap !important;
                br{
                    display:none;
                }
            }
        }
    }
    @include dark-layout{
        background:$dark-bg;
    }
}