<section id="about">
    <div class="container">
        <div class="card mb-3" appDetect (isVisible)="Detect($event)">
            <div class="card-header"
            [@visibleInvisible]="isVisible ? 'visible' : 'invisible'"
            >
                <h1 class="display-6 text-nowrap fw-bold title text-center overflow-hidden">
                    About me
                </h1>
            </div>
            <div class="card-body overflow-hidden"
            [@visibleInvisible]="isVisible ? 'visible' : 'invisible'"
            >
                <p class="standart about-text px-5 fs-5"
                >
                    I've been interested in coding for over a year. I’ve learned the basics of front-end development and continue to move
                    forward. During this time, I’ve created many web templates and ensured their responsiveness, made internships
                    and worked on real projects. Now, I’m working at <a href="https://uzinfocom.uz" target="_blank">
                        UZINFOCOM
                    </a>.
                </p>
            </div>
            <div class="card-footer">
                <app-skills [skills]="skills"></app-skills>
            </div>
        </div>
    </div>
</section>