@import "../../styles/dark-layout.scss";

#about{
    padding-block:100px;
    background:$light-bg;
    .container{
        max-width:1024px;
        .standart{
            max-height: 100px;
        }
    }
    @include dark-layout{
        background:$dark-bg;
    }
}
