@import '../../styles/dark-layout.scss';

#home{
    padding-top:65px;
    overflow-x:hidden;
    background:$light-bg;
    @include dark-layout{
        background:$dark-bg;
    }
    .position-absolute{
        top:-90px;
        right:-40px;
    }
    .hero-text{
        overflow:clip;
        overflow-clip-margin: 90px;
    }
}
@media (max-width:992px){
    .hero-img{
        width:274px;
        height:365px;
    }
    .hero-img-wrapper{
        height:365px !important;
    }
    .position-absolute{
        top:-60px !important;
    }
}
@media (max-width:768px){
    .hero{
        flex-direction: column-reverse;
    }
    .hero-text{
        text-align:center;
    }
    .hero-img-wrapper{
        margin-bottom:20px;
    }
    .position-absolute{
        top:-50px !important;
    }
}