@import '../../../styles/dark-layout.scss';

#home{
    padding-top:65px;
    overflow-x:hidden;
    background:$light-bg;
    @include dark-layout{
        background:$dark-bg;
    }
    .position-absolute{
        top:-90px;
        right:-40px;
    }
    .hero-text{
        overflow:hidden;
    }
}
@media (max-width:992px){
    .hero-img{
        width:274px;
        height:365px;
    }
}