<div class="rounded-5 overflow-hidden text-bg-dark project"
[class]="isVisible ? 'card' : 'card-fake'"
appDetect (isVisible)="Detect($event)"
[@visibleInvisible]="isVisible ? 'visible' : 'invisible'"
>
    <img [ngSrc]="imgUrl" alt="project-img" 
    width="500"
    height="400"
    priority 
    class="card-img object-fit-cover">
    <div class="card-img-overlay">
        <h4 class="card-title title text-center">{{title}}</h4>
        <p class="card-text standart">{{text}}</p>
        <div>
            <h4 class="card-title title text-center">Built in tools</h4>
            <div class="d-flex flex-wrap justify-content-between gap-5">
                @for (framework of frameworks; track $index) {
                    @if($index !== 2){
                        <p class="card-text d-flex align-items-center justify-content-center"><small class="btn btn-light standart">{{ framework }}</small></p>
                    }@else {
                        <p class="card-text d-flex align-items-center justify-content-center pb-3"><small class="btn btn-light standart">{{ framework }}</small></p>
                    }
                }
            </div>
        </div>
        <div class="d-flex justify-content-between mt-md-5 mt-2 pt-md-5 pt-0">
            <a [href]="github" target="_blank">
                <p-button label="Get Code" severity="contrast" icon="pi pi-github" />
            </a>
            <a [href]="url" target="_blank">
                <p-button label="Demo" icon="pi pi-external-link" severity="help" />
            </a>
        </div>
    </div>
 </div>