.project{
    background:rgba(255,255,255,0.3) !important;
    -webkit-backdrop-filter:blur(5.5px);
    backdrop-filter: blur(5.5px);
    transition:all 0.3s ease;
}
.project:hover{
    background-color: rgba(255,255,255,0.5) !important;
}
img{
    filter:brightness(0.4);
}

@media (max-width:510px) {
    img{
        height:600px;
    }
    .flex-wrap{
        justify-content: center !important;
    }
}
@media (max-width:350px) {
    .flex-wrap{
        gap: 20px !important;
    }
}