@import "../../styles/dark-layout.scss";
@import "../../../../node_modules/swiper/swiper.scss";


#work {
    background:$light-bg;
    @include dark-layout {
        background:$dark-bg;
    }
    .container{
        max-width:1024px;
    .swiper {
        width: 100%;
        height: 100%;
      .swiper-wrapper{
        cursor:grab;
      }
      .swiper-wrapper:active{
        cursor:grabbing;
      }
      .swiper-slide{
        width:500px !important;
        @media (max-width:1024px){
            width:300px !important;
            img{
                width: 100% !important;
            }
        }
        @media (max-width:745px){
            width:250px !important;
        }
        @media (max-width:590px){
            width:100% !important;
        }
      }
    }
    }
}