@import "../../styles/dark-layout.scss";
@import "../../../../node_modules/swiper/swiper.scss";


#work {
    background:$light-bg;
    @include dark-layout {
        background:$dark-bg;
    }
    .container{
        max-width:1024px;
        overflow: hidden;

    .swiper {
        width: 100%;
        height: 100%;
      .swiper-wrapper{
        cursor:grab;
      }
      .swiper-wrapper:active{
        cursor:grabbing;
      }
      .swiper-slide{
        width:500px !important;
        @media (max-width:1024px){
            width:300px !important;
            img{
                width: 100% !important;
            }
        }
        @media (max-width:745px){
            width:250px !important;
        }
        @media (max-width:590px){
            width:100% !important;
        }
      }
    }
        .project{
            background:rgba(255,255,255,0.3) !important;
            -webkit-backdrop-filter:blur(5.5px);
            backdrop-filter: blur(5.5px);
            transition:all 0.3s ease;
            @media (max-width:1024px){
                img{
                    width: 100%;
                    height: 200px;
                }
            }
        }
        .project:hover{
            background-color: rgba(255,255,255,0.5) !important;
        }
    }
}