<section id="work">
    <div class="container pb-3">
        <div class="card shadow-lg text-bg-secondary">
            <div [class]="isVisible ? 'card-header' : 'card-headers'"
            appDetect (isVisible)="Detect($event)"
            [@visibleInvisible]="isVisible ? 'visible' : 'invisible'"
            >
                <h1 class="display-6 text-nowrap fw-bold text-center overflow-hidden title">WORK</h1>
            </div>
            <div class="card-body center">
                <!-- PROJECT CARDS -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        @for (item of [].constructor(4); track $index) {
                            <div class="swiper-slide">
                              <app-swiper-card
                              [imgUrl]="'./assets/projects/project.jpg'"
                              [title]="'Card title'"
                              [text]="'This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.'"
                              [smallText]="'Last updated 3 mins ago'"
                              ></app-swiper-card>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                  </div>
                  
            </div>
          </div>
    </div>
</section>