@import "../../styles/dark-layout.scss";
@import "../../../../node_modules/swiper/swiper.scss";

#work {
    background:$light-bg;
    @include dark-layout {
        background:$dark-bg;
    }
    .container{
        max-width:1024px;
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-button-next, .swiper-button-prev{
          color:white;
        }
      .swiper-wrapper{
        cursor:grab;
      }
      .swiper-wrapper:active{
        cursor:grabbing;
      }
    }
    }
}