<section id="work">
    <div class="container pb-3">
        <div class="card shadow-lg text-bg-secondary">
            <div [class]="isVisible ? 'card-header' : 'card-headers'"
            appDetect (isVisible)="Detect($event)"
            [@visibleInvisible]="isVisible ? 'visible' : 'invisible'"
            >
                <h1 class="display-6 text-nowrap fw-bold text-center overflow-hidden title">WORK</h1>
            </div>
            <div class="card-body center">
                <!-- PROJECT CARDS -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        @for (project of projects; track $index) {
                            <div class="swiper-slide">
                              <app-swiper-card
                              [imgUrl]="project.imgUrl"
                              [title]="project.title"
                              [text]="project.description"
                              [frameworks]="project.frameworks"
                              [github]="project.github"
                              [url]="project.url"
                              ></app-swiper-card>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                  </div>
                  
            </div>
          </div>
    </div>
</section>